<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="Oracle.ManagedDataAccess.Client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="4445000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="4150000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="FileRepository" value="~/App_Data/FileRepository/" />
    <!--<add key="UrlPolicyDoc" value="D:\HRMS_WebAPI\FileRepository" />-->
    <add key="UrlPolicyDoc" value="D:\HRMS_TestWebAPI\FileRepository" />
    <add key="subFolder" value="Controllers" />
    <!-- PDF EXCEL WORDOPENXML -->
    <add key="ReportType" value="ALL" />
    <add key="API_VIRTUAL_PATH" value="https://prathamerp.org/HRMS_TestWebAPI/" />
    <add key="taxdocpath" value="E:\HRMS_TestWebAPI/"/>
    <!--Mail sending Credentials-->
    <!--<add key="FromMail" value="bpm@phdcci.in" />
    <add key="Password12" value="PHDcci!@#$" />
    <add key="Host" value="webmail.phdcci.in" />
    <add key="Port" value="587" />-->
    <add key="PrathamToMail" value="hr@pratham.org" />
    <add key="PrathamFromMail" value="erpnotification@pratham.org" />
    <add key="PrathamPassword" value="Prathamerp123" />
    <add key="PrathamUrlAddrEnq" value="http://localhost:1313/Controllers/Purchase/Reports/PurReportsEnquiryLetterFormat.aspx?Enq_Num=" />
    <add key="FromMail" value="it@coptech.in" />
    <add key="FromMail_Account" value="accounts@coptech.in" />
    <add key="Password12" value="ItPassword" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />

    <add key="UrlAddr" value="http://192.168.1.217/NewtonErpPortal/Config/Index/NDSL" />

    <add key="UrlAddrEnq" value="http://52.172.186.70/NewtonErpPortal/Controllers/Purchase/Reports/PurReportsEnquiryLetter.aspx?EnquiryFrom= " />
    <add key="UrlWorkFlowDocument" value="http://192.168.1.217/NewtonErpPortal/Config/Index/NDSL" />
    <add key="UrlManualBillPass" value="http://nds1.nippondata.com/SmartAPI/get_bill_passing_API_SDMS/" />
    <!--<add key="UrlBadaApi" value="http://nds1.nippondata.com/BADA_API/" />-->
    <add key="UrlBadaApi" value="http://crm.badabusiness.com/BADA_API/" />
    <add key="WorkFlowMainURL" value="http://192.168.1.217/WORKFLOW" />

    <!--<add key="WorkFlowMainURL" value="http://localhost:53977/" />-->

    <add key="URLWaterMeter" value="http://192.168.1.217/WATERMETER" />
    <!--<add key="URLWaterMeter"  value="http://localhost:6478" />-->
    <add key="ClientIpAddress" value="http://192.168.1.217/PMSAPI/IpAddress" />


    <!--ClearTax Settigns For SANDBOX-->
    <add key="CTUrl" value="https://api-sandbox.clear.in/einv/v2/eInvoice/generate" />
    <add key="CTUrl_download" value="https://api-sandbox.clear.in/einv/v2/eInvoice/download?irns=" />
    <add key="CTUrl_ewb" value="https://api-sandbox.clear.in/einv/v3/ewaybill/generate" />
    <add key="CTUrl_ewbdownload" value="https://api-sandbox.clear.in/einv/v2/eInvoice/ewaybill/print?format=PDF" />
    <add key="CTUrl_einvCancel" value="https://api-sandbox.clear.in/einv/v2/eInvoice/cancel" />
    <!--<add key="CTAuth_Token" value="1.2bcd689d-2e34-4f2e-851b-0f01ff7b94c8_e7c5bd2f92f3ccd0291009e23fdcffeff36dfcbee0b66f2d3f07846962a13498" />-->
    <add key="CTAuth_Token" value="1.79cb4b85-83af-4ec1-869a-1770e4ffa528_37d570f2902bb7b1a24833ae5707c3571e930915f84d27614e29391b242ab4d8" />
    <add key="GSTIN" value="07AAFCD5862R007" />
    <add key="OWNER_ID" value="0200a0e6-56dd-4889-9f29-d10f7983f56a" />

    <!--Email Send from Gmail-->
    <add key="FROM_MAIL_D" value="safeerahmad99@gmail.com" />
    <add key="MAIL_PWD" value="vefwnyulbmqhhxpm" />
    <add key="SERVICE_PORT" value="587" />
    <add key="SERVICE_HOST" value="smtp.gmail.com" />


    <!--Email Send from Gmail-->
    <!--<add key="FROM_MAIL_D" value="info.newtonerp@roopautoforge.com" />
    <add key="MAIL_PWD" value="Newt@58@A55" />
    <add key="SERVICE_PORT" value="465" />
    <add key="SERVICE_HOST" value="ralmail.roopauto.com" />-->

    <!--ClearTax Settigns For PRODUCTION-->
    <!--<add key="CTUrl" value="https://api.clear.in/einv/v2/eInvoice/generate" />
    <add key="CTAuth_Token" value="" />
    <add key="GSTIN" value="" />
    <add key="OWNER_ID" value="" />-->
    <add key="IS_MON_ASSET_BLOCK" value="Y" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" enableVersionHeader="false" />-->
    <httpRuntime executionTimeout="240" targetFramework="4.5" maxRequestLength="20480" />
    <!--For disable showing version number-->
    <httpHandlers>
      <add path="ASPxUploadProgressHandlerPage.ashx" verb="GET,POST" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
      <add path="DX.ashx" verb="GET" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <pages></pages>
    <customErrors mode="On" defaultRedirect="~/Home/Error" redirectMode="ResponseRewrite">
      <error statusCode="401" redirect="~/Home/Unauthorized" />
      <error statusCode="404" redirect="~/Home/NotFound" />
      <error statusCode="403" redirect="~/Home/BadRequest" />
    </customErrors>
    <sessionState timeout="60" mode="InProc"></sessionState>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
      <error statusCode="401" path="/Home/Unauthorized" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Home/NotFound" responseMode="ExecuteURL" />
      <error statusCode="403" path="/Home/BadRequest" responseMode="ExecuteURL" />
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules></modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <add name="OraDBModelConStr" connectionString="USER ID=NEWTON_ERP;PASSWORD=NEWTON;DATA SOURCE=192.168.1.206:1521/Orcl;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="OraDBModelConStr" connectionString="USER ID=NEWTON;PASSWORD=NEWTON;DATA SOURCE=103.215.134.14:1521/Orcl;PERSIST SECURITY INFO=True;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="OraDBModelConStr" connectionString="USER ID=NEWTON;PASSWORD=NEWTON;DATA SOURCE=104.211.75.196:1521/XE;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="OraDBModelConStr" connectionString="USER ID=NEWTON_CY;PASSWORD=NEWTON;DATA SOURCE=4.213.62.154:1521/orcl.nc0zxre3q1uejne5jq532urrzd.rx.internal.cloudapp.net;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" />-->    
    <!--<add name="OraDBModelConStr" connectionString="USER ID=NEWTON_TEST;PASSWORD=NEWTON;DATA SOURCE=115.243.152.155:1521/Orcl;PERSIST SECURITY INFO=True;" providerName="Oracle.ManagedDataAccess.Client" />-->
  <!--<add name="OraDBModelConStr" connectionString="USER ID=NEWTON_TEST;PASSWORD=NEWTON;DATA SOURCE=115.243.152.155:1521/Orcl;PERSIST SECURITY INFO=True;" providerName="Oracle.ManagedDataAccess.Client" />-->
  <!--<add name="OraDBModelConStr" connectionString="USER ID=NEWTON;PASSWORD=NEWTON;DATA SOURCE=115.243.152.155:1521/Orcl;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>
</configuration>